<h1>Anagram Checker</1h>
  <form action="/results" method="post">
    <label for="anagram-word">Enter the word you want checked</label>
    <input type="text" name="anagram-word">
    <label for="anagram-list">Enter a list of words to check against</label>
    <input type="text" name="anagram-list">
    <button type="submit">Check</button>
  </form>
